

@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>Pablo Franco Systems</h1>
</div>


<address>
    Guatemala,Guatemala zona 11<br />
    zona 11 colonia los jacintos<br />
    <abbr title="Phone">P:344244</abbr>
    +502.555.3153
</address>

<address>
    <strong>Correo personal:</strong>   <a href="mailto:Support@example.com">pabloalejandrofranco@outlook.com</a><br />
    <strong>Correo labora:</strong> <a href="mailto:Marketing@example.com">alejandrofranco21815@gmail.com</a>
</address>

